.cardFixed
{
    display: fixed;
    top: 0;
    background: #56baed !important;
    color: white;
}
span
{
    font-size: 30px;
}
.time
{
    margin:30px auto;
}
.question
{
    font-size: 22px;
    max-height: 250px;
    border-radius: 15px;
    color: #fff;
}
.answer
{

    /* vertical-align: middle; */
    /* justify-content: center; */
    margin-top: 10px;
    align-items: center;
    border: 1px  rgba(0, 0, 0, 0.54);
    border-radius: 5px;
    font-size: 20px;
    padding: 20px 20px !important;
    widows: '100%';
    display: flex;
    background-color: #fff;
    text-overflow: ellipsis;
    cursor: pointer;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
}
.answer:hover
{
    background: #01DFD7;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    /* box-shadow: 10px 10px #F5F5F5; */
}
/* .textanswer
{
    font-size: 20px;
    padding: 0 30px;
} */
/* .box
{
    position: absolute;
    top: 35%;
} */

.modal1 {
    position: absolute;
    top: -20px !important;
    left: 10px;
    z-index: 1050;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0
}

/* .answerOption {
    font-weight: bold;
    font-size: 20px;
    display: inline;
} */

.timeImg {
  width: 60px;
  height: 60px;
}

.answerContent {
  margin-top: 10px !important; 
}



@media only screen and (max-width: 480px){
  .timeImg {
    width: 40px;
    height: 40px;
    display: inline;
  }
  .timeLive {
    margin-left: 5px;
    display: inline;
    text-align: center;
    margin-left: -5px;
  }
  .time {
    text-align: center;
    margin: 10px auto;
  }
  .question {
    font-size: 16px;
  }
  .answerContent {
    margin-top: 3px;
  }

  .answer 
  {    
    font-size: 16px;  
  }
}